* {
  padding: 0;
  margin: 0;
}

.employers-dashboard-settings-container {
  width: 100%;
  background-color: #f4f4f4;
  font-family: "Poppins", sans-serif;
}

.employers-dashboard-settings-main {
  padding: 24px;
}

.employers-dashboard-settings-main h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.settings-container {
  border-radius: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.settings-container .settings-actions {
  border-radius: 5px 0 0 5px;
  border: 1px solid #5c95c5;
  border-right: none;
  padding: 0;
}

.settings-container .settings-actions .action {
  padding: 12px 20px;
  border: 1px solid #5c95c5;
  border-right: none;
  width: 100%;
  font-size: 16px;
  color: #333333;
  font-weight: 600;
}

.settings-container .settings-actions .action.active {
  background-color: white;
  border: white;
}

.settings-container .settings-actions .action .action-name {
  cursor: pointer;
}

.notifications-border {
  border-bottom: 2px solid #084482;
  width: 140px;
}

.list-group-item:after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  /* This will center the border. */
  width: 80%; /* Change this to whatever width you want. */
  padding-top: 20px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid rgba(196, 196, 196, 0.5);
}
.custom-control-label::before,
.custom-control-label::after {
  width: 20px;
  height: 20px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background: #084482;
}

.custom-switch.custom-switch .custom-control-label {
  padding-left: 4rem;
  padding-bottom: 2.5rem;
}

.custom-switch.custom-switch .custom-control-label::before {
  height: 2.5rem;
  width: calc(4rem + 0.75rem);
  border-radius: 5rem;
}

.custom-switch.custom-switch .custom-control-label::after {
  width: calc(2.5rem - 4px);
  height: calc(2.5rem - 4px);
  border-radius: calc(4rem - (2.5rem / 2));
}

.custom-switch.custom-switch
  .custom-control-input:checked
  ~ .custom-control-label::after {
  transform: translateX(calc(2.5rem - 0.25rem));
}
