* {
  padding: 0;
  margin: 0;
}

.employers-dashboard-settings-container {
  width: 100%;
  background-color: #f4f4f4;
  font-family: "Poppins", sans-serif;
}

.employers-dashboard-settings-main {
  padding: 24px;
}

.employers-dashboard-settings-main h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.settings-container {
  border-radius: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.settings-container .settings-actions {
  border-radius: 5px 0 0 5px;
  border: 1px solid #5c95c5;
  border-right: none;
  padding: 0;
}

.settings-container .settings-actions .action {
  padding: 12px 20px;
  border: 1px solid #5c95c5;
  border-right: none;
  width: 100%;
  font-size: 16px;
  color: #333333;
  font-weight: 600;
}

.settings-container .settings-actions .action.active {
  background-color: white;
  border: white;
}

.settings-container .settings-actions .action .action-name {
  cursor: pointer;
}

.notifications-border {
  border-bottom: 2px solid #084482;
  width: 90px;
}


.primary .btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background: #084482 !important;
}

.submit-button {
  background: #084482;
  color: white;

}
@media screen and (max-width: 767px) {
  .iner {
      background-color: white;
      border-radius: 5px;
      padding: 21px 14px 21px 54px;
      /*margin-left: 3px;*/
  }
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  line-height: 24px;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.top__nav__wrapper {
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(163, 163, 163, 0.25);
}

.top__nav__icon {
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #C4C4C4;
  border-radius: 10px;
  margin-right: 1.5rem;
  cursor: pointer;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  line-height: 24px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

.sidenav {
  width: 234px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #084482;
  overflow-x: hidden;
}

.sidenav::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}

.sidenav::-webkit-scrollbar-track {
  box-shadow: #FFFFFF;
  border-radius: 10px;
}

.sidenav::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 5px;
}

.sidenav::-webkit-scrollbar {
  display: none;
}

.sidenav:hover::-webkit-scrollbar {
  display: initial;
}

.logo__wrapper {
  padding: 0 11px;
  position: fixed;
  width: 234px;
  background-color: #084482;
  z-index: 5;
}

.logo__image {
  padding: 37px 0 42px;
  border-bottom: 1px solid #DFDFDF;
}

.sidenav_links {
  padding-top: 161px;
}

.sidenav_links li {
  margin-bottom: 12px;
}

.sidenav_links li a {
  display: block;
  padding: 12px 40px;
  color: white;
  font-size: 1rem;
  font-weight: 600;

}

.sidenav_links li .active,
.sidenav_links li:hover {
  background-color: #00AEFF;
}

#body__click {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  overflow-x: hidden;
  height: 100vh;
}

.body__click__active {
  opacity: 1 !important;
  pointer-events: all !important;
}

@media only screen and (max-width: 991px) {
  .sidenav {
    transform: translate3d(-234px,0,0);
  }

  .sidenav__active {
    transform: translate3d(0,0,0);
    transition: all .5s ease-in-out;
  }

  .sidenav__unactive {
    transform: translate3d(-234px,0,0);
    transition: all .5s ease-in-out;
  }

  .body__active {
    margin-left: 234px;
    transition: all .5s ease-in-out;
  }
}
